
# Terraform state files
terraform.tfstate
terraform.tfstate.backup
*.tfstate.*

# Sensitive variable files
# *.tfvars

# Crash log files
crash.log

# Terraform working directory
.terraform/
.terraform.lock.hcl

# Plan files
terraform.plan

# Local override files
override.tf
override.tf.json

# Editor and OS-specific files
*.DS_Store
*.zip

log/
tmp/
.idea/
.env
node_modules/
package-lock.json
vendor/
/config/master.key
/config/credentials/*.key
