<div class="container min-vh-100 d-flex justify-content-center align-items-center">
  <div class="row justify-content-center w-100">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <div class="card mt-2 bg-success text-white">
        <div class="card-header">
          <h1>SUCCESS!! Password Reset</h1>
        </div>
        <div class="card-body">
          <p>Your password has been reset using the following values:</p>
          <ul>
            <li><b>Email:</b><span class="ms-2"><%= email %></span></li>
            <li><b>Nonce:</b><span class="ms-2"><%= nonce %></span></li>
            <li><b>Token:</b><span class="ms-2"><%= token %></span></li>
          </ul>
        </div>
        <div class="card-footer">
          <a class='btn btn-primary' href="/demo">Reset a new password...</a>
        </div>
      </div>
    </div>
  </div>
</div>
