<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <div class="card mt-2 bg-danger text-white">
        <div class="card-header">
          <h1>FAILURE!! Password NOT Reset</h1>
        </div>
        <div class="card-body">
          <p>Your password was not reset due to:</p>
          <pre><%= @error_message %></pre>
        </div>
        <div class="card-footer">
          <a class='btn btn-primary' href="/">Try again</a>
        </div>
      </div>
    </div>
  </div>
</div>
